/*  CSS USED TO STYLE BOXES IN THE MEDIA QUERY DEMO */
body {
    background: lightgray;
}

/* Specify dimensions for all boxes in the page */
.box {
    width: 200px;
    height: 200px;
}

.greenbox {
    /* colors a box green */
    background: green;
}

.redbox {
    /* colors a box red */
    background: red;
}

.bluebox {
    /* colors a box blue */
    background: blue;
}

.violetbox {
    /* colors a box violet */
    background: violet;
}

.yellowbox {
    /* colors a box yellow */
    background: yellow;
}

/* use @media handle to implement a media query */
@media all and (max-width: 1000px)
{
    .greenbox{
        background: orange;
    }
     /* modify the redbox to display a red circle*/
     .redbox{
        border-radius: 50%; /* rounds the edges!!! */
        border: solid 2px black;
    }
    /* make the bluebox do something fun! */
    .bluebox{
        transform: rotate(360deg);
        transition: transform 2.0s ease-in;
    }
    /* make the violetbox disappear */
    .violetbox{
        display: none;
    }
}


